/**
 * Cafeteria Widget - University of Kassel
 *
 *
 * Copyright 2009 - 2010, Daniel Zoller
 *                        http://nosebrain.de
 *
 * This widget is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This widget is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this widget; if not, write to the Free Software Foundation, Inc.,
 * 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA 
 *
 *
 * @author Daniel Zoller<nosebrain@gmx.net>
 */

/*
 * background and side images
 */
 
#bgLeft {
    background-image: url(./../Images/bg/left.png);
    background-repeat: repeat-y;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    position: absolute;
    top: 23px;
    bottom: 23px;
    left: 0px;
    width: 23px;
    background-position: 0% 0%;
}
 
#bgContent {
    position: absolute;
    left: 23px;
    top: 23px;
    right: 23px;
    bottom: 23px;
    background-color: rgb(255, 232, 0);
}


#bgTopLeftCorner {
    position: absolute;
    background-image: url(./../Images/bg/topLeftCorner.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    left: 0px;
    top: 0px;
    width: 23px;
    height: 23px;
    background-position: 0% 0%;
}

#bgTopRightCorner {
    position: absolute;
    background-image: url(./../Images/bg/topRightCorner.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    right: 0px;
    top: 0px;
    width: 23px;
    height: 23px;
    background-position: 0% 0%;
}

#bgBottomLeftCorner {
    position: absolute;
    background-image: url(./../Images/bg/bottomLeftCorner.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    left: 0px;
    bottom: 0px;
    width: 23px;
    height: 23px;
    background-position: 0% 0%;
}

#bgBottomRightCorner {
    position: absolute;
    background-image: url(./../Images/bg/bottomRightCorner.png);
    background-repeat: no-repeat;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    right: 0px;
    bottom: 0px;
    width: 23px;
    height: 23px;
    background-position: 0% 0%;
}

#bgTop {
    background-image: url(./../Images/bg/top.png);
    background-repeat: repeat-x;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    position: absolute;
    top: 0px;
    left: 23px;
    right: 23px;
    height: 23px;
    background-position: 0% 0%;
}

#bgRight {
    background-image: url(./../Images/bg/right.png);
    background-repeat: repeat-y;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    position: absolute;
    top: 23px;
    right: 0px;
    width: 23px;
    bottom: 23px;
    height: auto;
    background-position: 100% 0%;
}

#bgBottom {
    background-image: url(./../Images/bg/bottom.png);
    background-repeat: repeat-x;
    background-attachment: initial;
    -khtml-background-clip: initial;
    -khtml-background-origin: initial;
    background-color: initial;
    position: absolute;
    right: 23px;
    bottom: 0px;
    left: 23px;
    height: 23px;
    background-position: 0% 0%;
}